<template>
	<header class="header">
		<router-link to="/"><h1>TodoList</h1></router-link>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/contact">Contact</router-link>
    </div>
	</header>
</template>

<script>
	export default {
		name: "Header"
	};
</script>

<style scoped>
  .header {
    background: black;
    color: #42b983;
    text-align: center;
    padding: 10px;
  }
  .header a {
    color: #fff;
    padding-right: 5px;
    text-decoration: none;
  }
</style>