<template>
  <div class="about container">
    <h1>contact</h1>
    <form>
  <span v-for="e in errors" :key="e">{{ e }}</span>
  <div class="form-group" v-if="step == 1">
    <label for="name">Name</label>
    <input v-model="form.name" type="name" class="form-control" id="name" >
  </div>
  <div class="form-group" v-if="step == 2">
    <label for="email">Email</label>
    <input v-model="form.email" type="email" class="form-control" id="email" >
  </div>
  <div class="form-group" v-if="step == 3">
    <label for="message">Message</label>
    <textarea v-model="form.message" class="form-control" id="message" rows="3"></textarea>
  </div>
  <button v-if="step != totalsteps" @click.prevent="nextStep" type="submit" class="btn btn-primary">Next Step</button>
  <button v-if="step == 3" @click.prevent="submit" type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</template>

<script>
	export default {
		name: 'contact',
	data() {
		return {
			step:1,
			totalsteps: 3,
			errors:[],
			form: {
				name:null,
				email:null,
				message:null,
			}
		}
	},
	methods: {

		nextStep(){

			if(this.step == 1){
				if(!this.form.name){
					this.errors = 'Please fill out your name'
					return false;
				}
			}
			if(this.step == 2){
				if(!this.form.email){
					this.errors = 'Please fill out your email'
					return false;
				}
			}
			this.step++;
		},
		submit(){
			if(this.step == 3){
				if(!this.form.message){
					this.errors = 'Please fill out your message'
					return false;
				}
			}
			this.errors = null;
			alert('submited')
		}
	}
};
</script>

<style>
	
</style>


